<div class="col-md-6">
  <h3>Use the Image Form</h3>

  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Click Your Way to Success</h4>

      <p>You can also use this convenient form to set the options and return a picture:</p>
      <form action="/image" method="post">
        <div class="form-group">
          <label for="imageInput">Image</label>
          <select class="form-control" id="imageInput" name="image_input">
            <% if @image_select_hash %>
              <% @image_select_hash.each do |file, name| %>
                <option value="<%= file %>"><%= name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <label for="widthInput">Width in Pixels</label>
          <input type="number" class="form-control" id="widthInput" name="width_input" value="1024" min="16" max="2560">
        </div>
        <div class="form-group">
          <label for="heightInput">Height in Pixels</label>
          <input type="number" class="form-control" id="heightInput" name="height_input" value="768" min="16" max="2560">
        </div>
        <div class="form-group">
          <label for="colorInput">Background Color</label>
          <input type="text" class="form-control color no-alpha" id="colorInput" name="color_input" value="#FFFFFF">
        </div>
        <div class="form-group">
          <label for="percentInput">Scale in Percent</label>
          <input type="number" class="form-control" id="percentInput" name="percent_input" value="100" min="25" max="300" step="25">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-6">
  <h3>Use the URL API</h3>

  <div class="panel panel-default">
    <div class="panel-body">

      <h4>URL Quick Start</h4>

      <p>There are two patterns you can use to build out an image from the URL, one with a named image and one without.</p>

      <p>An example of a valid image URL with a named image would be:</p>
      <div class="well well-sm"><a href="/<%= @example_image[:file]%>/800/600/ffc0cb/" title="example link">/<%= @example_image[:file]%>/800/600/ffc0cb/</a></div>
      <p>This link returns an 800x600 pixel image of <%= @example_image[:name]%> with a solid pink background color. You can find a list of valid parameters <a href="#parameter-values" title="values link">below</a>.</p>

      <p>Another example of a valid URL without one would be:</p>
      <div class="well well-sm"><a href="/640/480" title="example link">/640/480</a></div>
      <p>This link returns a randomly chosen 640x480 pixel with a white background color.</p>

      <hr>

      <p>Yet another valid URL would be:</p>
      <div class="well well-sm"><a href="/640/480/000000/200/" title="example link">/640/480/000000/200/</a></div>
      <p>This link returns a randomly chosen 1280x960 pixel with a black background color. This could be sized to 50% to create a retina-friendly image</p>

      <hr>

      <h4>URL Parameters</h4>

      <p>The URL parameters are parsed in order to customize your image as follows:</p>
      <div class="well well-sm"><strong>/:image/:width/:height/:color/:scale/</strong></div>
      <p>or</p>
      <div class="well well-sm"><strong>/:width/:height/:color/:scale/</strong></div>

      <hr>

      <h4 id="parameter-values">Valid Parameter Values</h4>

      <p>Valid values for the URL parameters are listed below</p>
      <dl class="padded-dl">
        <dt>Image</dt>
        <dd>
          <ul>
            <% if @image_select_hash %>
              <% @image_select_hash.each do |file, name| %>
                <li><code><%= file %></code></li>
              <% end %>
            <% end %>
          </ul>
        </dd>
        <dt>Width & Height</dt>
        <dd>
          Any positive integer between <code>16</code> and <code>2560</code>
        </dd>
        <dt>Color</dt>
        <dd>
          Any valid hex web color without the pound sign in front of it
        </dd>
        <dt>Scale</dt>
        <dd>
          Any positive integer from <code>25</code> to <code>300</code>; the default is <code>100</code>
        </dd>
      </dl>

      <hr>

      <h4>Optional Values</h4>

      <ul>
        <li>parameters are parsed in order from first to last</li>
        <li>all parameters but the first can be omitted in reverse order</li>
        <li>omitted parameters will assume their default values</li>
        <li>the trailing slash at the end of the URL is optional</li>
      </ul>

      <hr>

      <h4>Default Values</h4>

      <dl class="dl-horizontal">
        <dt>Image</dt>
        <dd>a randomly chosen image</dd>
        <dt>Width</dt>
        <dd><code>1024</code></dd>
        <dt>Height</dt>
        <dd><code>768</code></dd>
        <dt>Color</dt>
        <dd><code>ffffff</code></dd>
        <dt>Scale</dt>
        <dd><code>100</code></dd>
      </dl>
    </div>
  </div>

  </div>
</div>